@charset "utf-8";

body,
ul,
li,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font: normal 12px "맑은고딕", "Malgun Gothic", serif;
  background: #fafafa;
}
ul {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  text-decoration: none;
}

#wrap {
  margin: 0 auto;
  overflow: hidden;
}

/*header*/
.header {
  width: 100%;
  overflow: hidden;
  background: #000;
}
.header .header_login {
  margin: 7px auto;
  width: 1100px;
  height: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.header .header_login ul li {
  float: right;
  margin-left: 10px;
  line-height: 30px;
}
.header .header_login ul li a {
  color: #fff;
}

.header .header_logo {
  margin: 0 auto;
  width: 1100px;
  height: 55px;
}
.header .header_logo {
  text-align: center;
  margin-bottom: 10px;
}

.header .header_menu {
  margin: 0 auto;
  height: 47px;
  background: #101010;
}
.header .header_menu .menu {
  margin: 0 auto;
  width: 1100px;
  height: 47px;
  font-weight: 800;
}
.header .header_menu .menu h2 {
  margin-top: 15px;
  float: left;
}
.header .header_menu .menu ul {
  float: left;
  margin: 13px 0 0 180px;
}
.header .header_menu .menu ul li {
  float: left;
  margin-right: 124px;
}
.header .header_menu .menu ul li a {
  color: #fff;
  font-size: 17px;
}

/*contents*/
.contents {
  width: 100%;
  height: 1113px;
}
.contents .contents_in {
  margin: 0 auto;
  width: 1600px;
  height: 1113px;
  background: url(../images/join1_back.gif);
  position: relative;
  left: 50%;
  margin-left: -800px;
}
.contents .contents_in p,
.contents .contents_in ul {
  position: absolute;
}
.contents .contents_in .joinus {
  top: 45px;
  left: 721px;
}
.contents .contents_in .agree {
  top: 102px;
  left: 654px;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
}
.contents .contents_in .agree .agree_s {
  color: rgb(130, 130, 130);
}
.contents .contents_in .box1 {
  width: 898px;
  height: 923px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  top: 147px;
  left: 350px;
}
.contents .contents_in .c_header {
  top: 173px;
  left: 393px;
}
.contents .contents_in .checkbox1 {
  top: 212px;
  left: 388px;
  font-size: 14px;
}
.contents .contents_in .checkbox1 input[type="checkbox"] {
  width: 15px;
  height: 15px;
  vertical-align: -1px;
}
.contents .contents_in .checkbox2 {
  top: 249px;
  left: 388px;
  font-size: 14px;
}
.contents .contents_in .checkbox2 input[type="checkbox"] {
  width: 15px;
  height: 15px;
  vertical-align: -1px;
}
.contents .contents_in .span1 {
  color: red;
  font-weight: bold;
}
.contents .contents_in .span2 a {
  color: #4b4b4b;
  text-decoration: underline;
  font-size: 10px;
  vertical-align: 2px;
}
.contents .contents_in .txt1 {
  width: 738px;
  height: 131px;
  background: #fff;
  overflow: auto;
  top: 284px;
  left: 415px;
  border: 1px solid #000;
  padding: 20px 10px;
}
.contents .contents_in .checkbox3 {
  top: 478px;
  left: 388px;
  font-size: 14px;
}
.contents .contents_in .txt2 {
  width: 738px;
  height: 131px;
  background: #fff;
  overflow: auto;
  top: 513px;
  left: 415px;
  border: 1px solid #000;
  padding: 20px 10px;
}
.contents .contents_in .checkbox3 input[type="checkbox"] {
  width: 15px;
  height: 15px;
  vertical-align: -1px;
}
.contents .contents_in .checkbox4 {
  top: 708px;
  left: 388px;
  font-size: 14px;
}
.contents .contents_in .checkbox4 input[type="checkbox"] {
  width: 15px;
  height: 15px;
  vertical-align: -1px;
}
.contents .contents_in .span3 {
  color: green;
  font-weight: bold;
}
.contents .contents_in table {
  position: absolute;
  top: 743px;
  left: 415px;
  border: 1px solid #000;
  width: 758px;
  background: #fff;
}
.contents .contents_in table .checkbox_t {
  background: #fff;
}
.contents .contents_in table th,
.contents .contents_in table td {
  border: 1px solid #000;
  padding: 8px;
}
.contents .contents_in table th {
  background: #f9f9f9;
}
.contents .contents_in .select {
  top: 875px;
  left: 390px;
}
.contents .contents_in .select_in {
  top: 912px;
  left: 415px;
  width: 760px;
  height: 38px;
  background: #fff;
  font-size: 14px;
}
.contents .contents_in .select_in input {
  margin: 13px 0 0 13px;
}
.contents .contents_in .pre {
  top: 987px;
  left: 670px;
}
.contents .contents_in .next {
  top: 987px;
  left: 817px;
}

/*footer*/
.footer {
  width: 100%;
  overflow: hidden;
  background: #000;
}
.footer .foot1 {
  width: 100%;
  overflow: hidden;
  background: #f2f2f2;
}
.footer .foot1 ul {
  margin: 0 auto;
  width: 1100px;
}
.footer .foot1 ul li {
  float: left;
  margin: 10px 31px;
}

.footer .foot2 {
  margin: 0 auto;
  width: 1100px;
  height: 450px;
}
.footer .foot2 .foot2_l {
  width: 173px;
  height: 267px;
  margin: 50px 0 0 65px;
  color: #fff;
  float: left;
}
.footer .foot2 .foot2_l .logo2 img {
  margin-bottom: 38px;
  width: 130px;
  height: 33px;
}
.footer .foot2 .foot2_l .f_l_list {
  line-height: 1.5;
}
.footer .foot2 .foot2_l .f_l_list .number {
  font-size: 15px;
  line-height: 1.7;
}
.footer .foot2 .foot2_l .f_l_list .email {
  text-decoration: underline;
  font-size: 14px;
}
.footer .foot2 .foot2_l .f_l_list .time {
  margin-top: 10px;
}
.footer .foot2 .foot2_l .f_l_list li:nth-child(4) {
  margin-bottom: 40px;
}

.footer .foot2 .foot2_r {
  width: 652px;
  height: 272px;
  float: right;
  margin: 50px 84px 0 0;
}
.footer .foot2 .foot2_r .f_r_list1 li {
  float: left;
  font-size: 14px;
  margin-right: 40px;
  font-weight: bold;
}
.footer .foot2 .foot2_r .f_r_list1 li a {
  color: #fff;
}
.footer .foot2 .foot2_r .f_r_list1 li:last-child {
  margin-right: 0;
}
.footer .foot2 .foot2_r .f_r_list1 .rule {
  color: #5d7e5a;
}

.footer .foot2 .foot2_r .f_input {
  margin: 70px 0 0 28px;
  width: 476px;
  height: 40px;
  background: #fff;
}
.footer .foot2 .foot2_r .f_input .f_i_t {
  border: none;
  outline: 0;
  width: 359px;
  height: 38px;
  float: left;
  margin-left: 20px;
}
.footer .foot2 .foot2_r .f_input .f_i_s {
  border: 2px solid #fff;
  background: #526c36;
  color: #fff;
  width: 93px;
  height: 40px;
  float: left;
  cursor: pointer;
  font-weight: bold;
}

.footer .foot2 .foot2_r .f_r_list2 {
  margin: 20px 0 0 28px;
  font-weight: bold;
}
.footer .foot2 .foot2_r .f_r_list2 .subscribe {
  font-size: 12px;
  color: #526c36;
  font-weight: bold;
}
.footer .foot2 .foot2_r .f_r_list2 .subscribe span a {
  font-size: 11px;
  text-decoration: underline;
  color: #526c36;
}
.footer .foot2 .foot2_r .f_r_list2 .address {
  margin-top: 10px;
  color: #888;
}
.footer .foot2 .foot2_r .f_r_list2 .copyright {
  margin-top: 10px;
  color: #888;
}

.footer .foot2 .foot2_r .f_r_sns {
  margin: 10px 0 0 28px;
}
.footer .foot2 .foot2_r .f_r_sns li {
  float: left;
  margin-right: 7px;
}

.top_w {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
